@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300&display=swap');

:root {
    --primary-first: #faf894;
    --primary-second: #4b4a17;
    --third-color: #9e9d55;
    --one-more: #eeee9d;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: 0;
}

#main {
    max-width: 450px;
    background-color: var(--primary-first);
    margin: auto;
    padding: 2rem 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

input {
    display: block;
    margin: 0.5rem auto;
    padding: 0.3rem;
    border: 1px solid var(--primary-second);
    border-radius: 0.2rem;
}

#check-button {
    padding: 0.3rem 1rem;
    margin: 1rem;
    background-color: var(--one-more);
    border: 1px solid var(--primary-second);
    border-radius: 1rem;
    color: var(--primary-second);
    transition: 0.3s;
}

#check-button:hover {
    background-color: var(--primary-second);
    border: 1px solid var(--primary-second);
    color: var(--one-more);
}

table {
    border-collapse: collapse;
    border: 1px solid var(--primary-second);
    margin: 1rem auto;
    background-color: var(--third-color);
    width: 75%;
}

th,
td {
    border: 1px solid var(--primary-second);
    padding: 0.5rem;
}

.change-table {
    background-color: var(--one-more);
}

#footer {
    padding: 0.2rem 0;
    text-align: center;
    width: 100%;
}

#footer #list {
    list-style-type: none;
    padding-inline-start: 0px;
}

#footer #list .social {
    display: inline-block;
    margin: 0.5rem;
}

.ionicons {
    font-size: 28px;
    color: var(--primary-second);
}

.ionicons:hover {
    background-color: var(--primary-second);
    color: var(--primary-first);
    border-radius: 5px;
}

@media (max-width: 550px) {
    table {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    tbody {
        display: flex;
        flex-direction: row;
    }

    tr {
        display: flex;
        flex-direction: column;
    }

    #tr1 {
        order: 1;
    }

}